.section__padding {
    padding-bottom: 0;
}
.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
        &__item {
            width: 270px;
        }
            & .list__item + .list__item {
                margin-left: 30px;
            }

}
.list__thumb {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color:$bg-btn;
}
.list__svg {
    width: 70px;
    height: 70px;
}
.list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.list__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:$text-color;
    margin: 0;
}